.env
.DS_Store
.cache
.eslintcache
.idea
node_modules/
out/
dist/
*.vsix
coverage/
*.log
.env.*
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
*.tsbuildinfo
*.vscode-test
